[submodule "PolyEngien/vendor/spdlog"]
	path = PolyEngien/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "PolyEngien/vendor/GLFW"]
	path = PolyEngien/vendor/GLFW
	url = https://github.com/TheCherno/glfw
