# Binaries
**/bin/
!vendor/bin/premake/
bin-int/

# PolyEngien Files
*.pelog

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Other
**/imgui.ini
**/PolyEngienProfile-Runtime.json
**/PolyEngienProfile-Shutdown.json
**/PolyEngienProfile-Startup.json
