[submodule "PolyEngien/vendor/spdlog"]
	path = PolyEngien/vendor/spdlog
	url = https://github.com/gabime/spdlog

[submodule "PolyEngien/vendor/GLFW"]
	path = PolyEngien/vendor/GLFW
	url = https://github.com/TheCherno/glfw

[submodule "PolyEngien/vendor/ImGui"]
	path = PolyEngien/vendor/ImGui
	url = https://github.com/thecherno/imgui

[submodule "PolyEngien/vendor/glm"]
	path = PolyEngien/vendor/glm
	url = https://github.com/g-truc/glm
